{% extends 'blog/base.html' %}

{% block content %}
    
    <li class="page-footerinner"> <a href="https://twitter.com/asalisalman"><i class="fab fa-twitter"></i>  @AsaliSalman</a></li>
    <li class="page-footerinner"> <a href="https://www.facebook.com/salman.asali"><i class="fab fa-facebook-f"> Salman Asali</i></a></li>
    <li class="page-footerinner"> <a href="https://www.linkedin.com/in/salmanasali"><i class="fab fa-linkedin-in">  Salman Asali</i></a></li>
    <li class="page-footerinner"><a href="mailto: sal-_-man@hotmail.com"><i class="fas fa-envelope">    sal-_-man@hotmail.com</i></a></li>
    <li class="page-footerinner"><a href="tel:+447716414377"><i class="fas fa-phone"></i> +447716414377</a></li>
    <li class="page-footerinner"><a href="tel:+966504963022"><i class="fas fa-phone"></i> +966504963022</a></li>
   
{% endblock %}